<ion-view >
    <ion-content overflow-scroll="true" padding="false" class="has-header">
            <ion-item class="item-thumbnail-left">
                <img src="http://www.delta.ir/images/UserFiles/Small/8051cc0b44914ed.jpg">
                <h2>فروش آپارتمان - تهران -  مرزداران - بلوار دانش - گلدیس</h2>
		<p>کد ملک : 2154545</p>
                <p>قيمت کل(تومان):738,000,000</p>
                <p>قيمت متری(تومان):3,800,000</p>
                <p>متراژ بنا (متر مربع):72 </p>
                <p>مساحت (متر مربع):۳۰۰ </p>
                <p>نما : سنگ </p>
                <p>موقعیت جغرافیایی: جنوبی</p>
                <p>سن بنا : نوساز</p>
                <p>جمع واحد ها: ۱۰</p>
                <p>تعداد طبقه در واحد : ۲</p>
                <p>تعداد طبقات : ۵</p>
                <p>وضعیت سکونت : تخلیه </p>
                <p>نوع سند : مسکونی</p>
                <p>طبقه : ۳</p>
                <p>تعداد اتاق : ۲</p>
                <p>سرویس بهداشتی : ایرانی و فرنگی</p>
                <p>آشپرخانه : ام دی اف</p>
                <p>پارکینگ : ۱</p>
                <p>انباری : بلی</p>
                <p>تلفن : بلی</p>
                <p>بالکن : بلی</p>
                <p>کف پوش : سرامیک</p>
		<p>آسانسور : بلی </p>
		<p>آیفون تصویری : بلی</p>
		<p>درب ریموت :  بلی</p>
		<p>شوفاژ: بلی</p>
		<p>کولر: بلی</p>
		<p>موقعیت روی نقشه </p>
		<p>توضیحات : خوش نقشه و خوش ساخت</p>
		<img class="image-list-thumb" src="http://www.delta.ir//Images/UserFiles/80f8226b4a03433.jpg" />

            </ion-item>
		

    </ion-content>

	  <ul id="menu" class="mfb-component--br mfb-zoomin" data-mfb-toggle="hover">
                    <li class="mfb-component__wrap">
                        <a href="#" class="mfb-component__button--main">
                            <i class="mfb-component__main-icon--resting ion-plus-round"></i>
                            <i class="mfb-component__main-icon--active ion-close-round"></i>
                        </a>
                        <ul class="mfb-component__list">
 <li>
                    <a href="#" data-mfb-label="ورود /ثبت نام" class="mfb-component__button--child">
                        <i class="mfb-component__child-icon ion-log-in"></i>
                    </a>
                </li>
                            <li>
                                <a href="#" data-mfb-label="تماس با مشاور املاک" class="mfb-component__button--child">
                                    <i class="mfb-component__child-icon ion-ios-telephone"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" data-mfb-label="ارسال به دوستان" class="mfb-component__button--child">
                                    <i class="mfb-component__child-icon ion-forward"></i>
                                </a>
                            </li>

                            <li>
                                <a href="#"
                                   data-mfb-label="اضافه کردن به علاقه مندی ها" class="mfb-component__button--child">
                                    <i class="mfb-component__child-icon ion-ios-heart"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>

</ion-view>
