<ion-view title="دسته بندی کانالها">
    <ion-content overflow-scroll="true" padding="false" class="has-header">
        <h2>دسته بندی کانالها</h2>
        <div class="list">
            <a class="item item-icon-left" ui-sref="tabsController.maskan" >
                <i class="icon ion-ios-home"></i>خرید،فروش و اجاره مسکن
            </a>
            <a class="item item-icon-left" ui-sref="tabsController.khodro" >
                <i class="icon ion-model-s"></i>خرید، فروش و تعمیر خودرو
            </a>
            <a class="item item-icon-left" ui-sref="tabsController.amozesh" >
                <i class="icon ion-pie-graph"></i>خدمات آموزشی
            </a>
            <a class="item item-icon-left" ui-sref="tabsController.resturan" >
                <i class="icon ion-android-restaurant"></i>رستوران، کافی شاپ و نهیه غذا
            </a>

            <a class="item item-icon-left" ui-sref="tabsController.matab" >
                <i class="icon ion-medkit"></i>بیمارستان و مطب پزشکان
            </a>
            <a class="item item-icon-left"  >
                <i class="icon ion-plane"></i>آژانسهای مسافرتی
            </a>
            <a class="item item-icon-left"  >
                <i class="icon ion-android-people"></i>استخدام و کاریابی
            </a>
            <a class="item item-icon-left"  >
                <i class="icon ion-settings"></i>کارخانه جات و مراکز صنعتی
            </a>
            <a class="item item-icon-left"  >
                <i class="icon ion-wineglass"></i> خدمات منزل
            </a>
            <a class="item item-icon-left"  ui-sref="tabsController.digitalStores" >
                <i class="icon ion-android-laptop"></i>فروشگاههای کالای دیجیتال
            </a>
            <a class="item item-icon-left"  >
                <i class="icon ion-ios-cart"></i>فروشگاههای لوارم خانگی
            </a>
            <a class="item item-icon-left"  >
                <i class="icon ion-waterdrop"></i>فروشگاههای لوازم بهداشتی و آرایشی
            </a>
            <a class="item item-icon-left"  >
                <i class="icon  ion-tshirt"></i>فروشگاههای پوشاک و البسه
            </a>

            <a class="item item-icon-left"  >
                <i class="icon  ion-ios-book"></i>فروشگاههای کتاب
            </a>
            <a class="item item-icon-left"  >
                <i class="icon  ion-ios-game-controller-b"></i> فروشگاههای نرم افزار و بازی
            </a>

            <a class="item item-icon-left"  >
                <i class="icon  ion-shuffle"></i> کانال های  عمومی
            </a>
        </div>

    </ion-content>
</ion-view>