<ion-view >
    <ion-content overflow-scroll="true" padding="false" class="has-header">      
        <ion-list>
                <ion-item class="item-thumbnail-left" ui-sref="tabsController.maskanItem1" >
                <img src="http://tabrizeno.ir/Uploads/2/ArchivePicture/764.jpg">
                <h2 class="bold">مسکن آذربایجان</h2>
                <p>عضویت - دیروز</p>
            </ion-item>
           
             <ion-item class="item-thumbnail-left" ui-sref="tabsController.kalamalaItems" >
                <img src="http://www.yarancenter.com/sites/default/files/gallery/smod/DSC02797_0.JPG">
                <h2 class="bold">فروشگاه کالامالا</h2>
                <p>  Samsung Galaxy S6 Edge 32GB SM-G925F Mobile Phone خرید </p>
               	<p>امروز  14:35</p>
            </ion-item>
             <ion-item class="item-thumbnail-left">
                <img src="http://iraneconomist.com/files/fa/news/1394/2/5/100143_817.jpg">
                <h2>مسکن ایران زمین</h2>
                <p>تماس با مشاور املاک</p>
                <p>امروز 20:45</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.kalamalaItems" >
                <img src="http://static.panoramio.com.storage.googleapis.com/photos/original/73627812.jpg">
                <h2 class="bold">فروشگاه گیگابایت</h2>
                <p>  Samsung Galaxy S6 Edge 32GB SM-G925F Mobile Phone نظر روی  </p>
               	<p>امروز  14:55</p>
            </ion-item>
        </ion-list>

    </ion-content>

</ion-view>
