<ion-view title="Contacts">
    <ion-content overflow-scroll="true" padding="false" class="has-header">
        <ion-list>
        
            <ion-item class="item-thumbnail-left">
                <img src="img/YmNGxnKKTfyYwbYd1Eik_Photo_Reza_smaller.jpg">
                <h2>حمید عبداللهی</h2>
                <p>آنلاین</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/VxQPLq0LReaZOOSMiw4a_3fde967.jpg">
                <h2>سپیده راستگو</h2>
                <p>آنلاین</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/9jy7o7SpRy632kS0TYZp_380935a.jpg">
                <h2>شیما صادقی</h2>
                <p>آخرین بارده دقیقه پیش</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/J74YlesCRKa5CvqMaDel_getpic.php">
                <h2>رضا تابنده</h2>
                <p>آخرین بار دیروز</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/XSGrfSnwRKeeNYJEqg1A_Shahab_Hosseini-8.jpg">
                <h2>شهاب حسینی</h2>
                <p>یک ساعت پیش</p>
            </ion-item>
        </ion-list>
        
<label class = "item item-input item-select">
   <div class = "input-label">
      Select
   </div>
	
   <select>
      <option>Option 1</option>
      <option selected>Option 2</option>
      <option>Option 3</option>
   </select>
</label>



    </ion-content>
   

