<ion-view >
    <ion-content overflow-scroll="true" padding="false" class="has-header">
        <h2>کانال های عضو شده </h2>
        <ion-list>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.kalamalaItems" >
                <img src="http://www.yarancenter.com/sites/default/files/gallery/smod/DSC02797_0.JPG">
                <h2 class="bold">فروشگاه کالامالا</h2>
                <p> عرضه کننده موبایل و تبلت</p>
                <p>تهران - خیابان جمهوری - پاساژ علاالدین - طبقه اول - پلاک ۲۳</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.maskanItem1" >
                <img src="http://tabrizeno.ir/Uploads/2/ArchivePicture/764.jpg">
                <h2 class="bold">مسکن آذربایجان </h2>
                <p> خرید، فروش ، رهن و اجاره</p>
                <p>تهران - خیابان آذربایجان- پلاک ۱۴۵</p>
            </ion-item>
        </ion-list>

      
    </ion-content>


</ion-view>
