<ion-view >
    <ion-content overflow-scroll="true" padding="false" class="has-header">
        <h2>مسکن آذربایجان</h2>
	<p>تهران- خیابان آذربایجان - پلاک 145</p>
	<p>تلفن :  021-66451425</p>		
        <ion-list>
            <ion-item class="item-thumbnail-left"  ui-sref="tabsController.apartment1">
                <img src="http://www.delta.ir/images/UserFiles/Small/8051cc0b44914ed.jpg">
                <h2>فروش آپارتمان - تهران -  مرزداران - بلوار دانش - گلدیس</h2>
                <p>۷۲   متر مربع، 2 اتاق، نوساز،  طبقه 2، کاربری  مسكوني </p>
                <p>قيمت کل(تومان):738,000,000</p>
                <p>قيمت متری(تومان):3,800,000</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="http://www.delta.ir/images/UserFiles/Small/8051cc0b44914ed.jpg">
                <h2>فروش آپارتمان - تهران -  بلوار کاج - خیابان محبی - پلاک ۸</h2>
                <p>۹۸   متر مربع، 2 اتاق، نوساز،  طبقه 2، کاربری  مسكوني </p>
                <p>قيمت کل(تومان):7۵8,000,000</p>
                <p>قيمت متری(تومان):6,800,000</p>
            </ion-item>
        </ion-list>

    </ion-content>

</ion-view>
