<ion-view ng-controller="channelsCtrl">
    <ion-content overflow-scroll="true" padding="false" class="has-header">
        <h2>ساخت کانال</h2>
        <form ng-submit="createTask(task)">
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">نام منحصربفرد</span>
                    <input type="text" placeholder="برای کانال یک  نام منحصربفرد که شامل اعداد و حروف انگلیسی است وارد کنید" ng-model="channel.name">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">عنوان کانال را وارد کنید</span>
                    <input type="text" placeholder="عنوان کانال را وارد کنید. مثلا نام فروشگاه یا شرکت یا موسسه " ng-model="channel.title" >
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">آدرس</span>
                    <input type="text" placeholder="آدرس" ng-model="channel.address" >
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">تلفن</span>
                    <input type="text" placeholder="تلفن" ng-model="channel.phone" >
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">توضیحات</span>
                    <input type="text" placeholder="توضیحاتی در مورد کالاها یا خدماتی که ارایه می کنید وارد کنید" ng-model="channel.desc" >
                </label>


                <label class="item item-input">
                    <span class="input-label">با انتخاب نوع کانال، امکانات و ویژگیهای متناسب نوع کانال اختصاص خواهد یافت</span>
                    <span class="input-label"></span> {{selectedChannelGroup}}
                    <button class="button button-dark" modal-select="" ng-model="selectedChannelGroup" options="channelGroups" modal-title=نوع کانال را انتخاب کنید">نوع کانال را انتخاب نمایید<div class="option">
                    {{option}}
                </div>
                    </button>
                </label>


            </div>
            <div class="padding">
                <button type="submit" class="button button-block button-dark">ساخت کانال</button>
            </div>
        </form>
    </ion-content>
</ion-view>