<ion-view ng-controller="channelsCtrl">
    <ion-content overflow-scroll="true" padding="false" class="has-header">
        <h2>نظرات کاربران / گوشی سامسونگ گالکسی ۶ پلاس</h2>
        <h4>برای ثبت نظر باید وارد حساب کاربری خود شوید</h4>
<div class="list card">
            <div class="item item-divider">گوشی سامسونگ گالکسی ۶ پلاس</div>
            <div class="item item-body">

من این گوشی رو تازه خریدم خیلی خوبه ، روونه و دوربین های خیلی خوبی داره
اما نمیتونم توش چیزی اینستال کنم مثلا بازار رو از تو سایت خود بازار ! در ضمن میزان درصد باتری رو هم انگار نشون نمیده رو آیکون ! اندروید رو زده 6.0 اما میزنم پچ امنیتی رو دانلود کنه ارور میده میگه دانلود ممکن نیست 
بقیه چیزاش عالیه ، من یک آیفون هم دارم این به نظرم هیچی ازش کم نداره ، مهم هم نیست که هواوی ساخته اصل کیفیت و کارآیی هست که عالیه 

		</div>

            <div class="item item-divider">به گوگل اعتماد کنيد</div>
            <div class="item item-body">

گوشی خوبیه ولی باید به سایز بزرگش عادت کنید همیینطور به کیبوردش، با توجه به این که یو اس بی سی داره میتونه به عنوان پاور بانک هم ازش استفاده کنید

		</div>


            <div class="item item-divider">بسيار عالي پيشنهاد ميکنم</div>
            <div class="item item-body">

این گوشی را دیروز خریدم، هیچکدام از مشکلاتی که برای این گوشی ذکر شده از قبیل هاله زرد رنگ و ... وجود نداشت تنها انتظارم از باتری بیشتر بود که به نظر هرروز به شارژ نیاز دارد، البته شتید چون روز اول بود من زیاد ازش استفاده کردم به این نکته هم توجه کنید.

		</div>



</div>

    </ion-content>
</ion-view>
